@import "./colors.scss";
@import "./buttons.scss";
@import "./fonts.scss";
.container {
    max-width:1024px;
    margin:auto;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width:20px;
    border-radius: 20px;
    &-track {
        background: $black-color;
    }
    &-thumb {
        background: $darkgreen-color;
     &:hover {
        width: 30px;
     }
    }
}
body {
    display: grid;
}
html {
    scroll-behavior: smooth;
}
nav {
    padding-inline:150px;
    display:flex;
    justify-content: space-between;
    padding-top:60px;
    align-items: center;
    cursor: pointer;
    &.fixed {
        position: fixed;
        width: 100%;
        background: $nav-fixed-color;
        padding-bottom: 70px;
        color:black;
    }
    ul {
        margin-left:45px;
    }
    span {
        font-family: "lato";
        color:$black-color;
        font-size: 36px;
        font-weight: 500;
        line-height: 43px;

    }
     ul {
        display:flex;
        list-style: none;
        color:$black-color;
     }
     li {
        margin-left:44px;
        font-family: Lato;
        font-size: 18px;
     }
     li:first:child {
        margin-left:0;
     }
    .buttons{
    .btn {
        text-decoration: none;
    }
        .btn-light {
        font-family: "Lato";
    font-size: 18px;
    font-weight: 500;
    line-height: 22px; 
    color:$black-color;
    padding:17px 41px;
    margin-right:16px;
    @extend %light-btn;
}
    .btn-main {
        @extend %main-btn;
        color:$white-color;
        padding:21px 25px;
    }
}
}
.intro {
    display:flex;
    justify-content: center;
    font-family: Spartan;
    font-size: 70px;
    font-weight: 700;
    line-height: 78px;
    padding-top:127px;
    text-align: center;
    h1 {
        font-family: "League Spartan";
        font-size: 70px;
        color:$black-color;
        span {
            color: $darkgreen-color;
            font-family: "lato";
        }
    }
};
.intro-p {
       display: grid;
       place-items: center;
       padding-top:69px;
    p {
        color:$black-color;
        height: 96px;
        width: 725px;
        font-family: Spartan;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
    }
}
.input-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:48px;
    input  {
    width: 533px;
    height: 76px;
    border:none;
    background: rgba(38, 50, 56, 0.1);
    border-radius: 10px;
    outline:none;
    &::placeholder {
        height: 20px;
        width: 158px;
        font-family: Spartan;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px; 
        padding-left:25px;
    }
    }
    a {
        color:$white-color;
        padding:22px 25px;
        @extend %main-btn;
        text-align: center;
        text-decoration: none;
    }
}
.grid-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:50px;
    margin:auto;
    place-items: center;
    padding-top:209px;
    img {
        height: 54px;
        width: 175px;
         
    }
}
.farm-vest {
    width:574px;
    height:144px;
     margin:93px auto;
    h1 {
        Font-family:"Lato";
        font-size:64px;
        line-height:77px;
        span {
            color:$darkgreen-color;
        }
    }
    
}
.farm-vest-p {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color:$black-color;
    margin-bottom:132px;
}
.auto-layout {
    margin-top:48px;
    .auto-ul {
        height: 64px;
        width: 348px;
        list-style: none;
        li {
            display: flex;
            align-items: center;
            height: 64px;
            width: 508px;
            margin-bottom:70px;
            .wrapper {
                padding-left:32px;
            }
            img {
                   height: 110px;
                   width: 110px;
            }
            h1 {
                font-family: 'League Spartan';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 22px;
                color: $black-color;
                width: 223px;
                height: 22px;
            }
            p {
                font-family: 'League Spartan';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 180%;
            }
        }
    }
}
.main-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin:auto auto 70px auto;
}
.right-side {
    img {
        padding-top:100px;
        width: 610px;
    }
};
.section2 {
    margin:203px 850px auto auto;
    width: 570px;
    height: 234px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
    h1 {
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 78px;
        width:570px;
        height:234px;
        span {
            color: $darkgreen-color;
        }
    }
    img {
        width: 614px;
        height: 562px;
    }
    p {
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 177%;
        color: $black-color;
        margin-bottom: 48px;
    }
    a {
        color:$black-color;
        width: 600px;
        height: 90px;
        background: rgba(0, 128, 0, 0.05);
        border-radius: 10px;
        padding:24px 30px;
        text-decoration: none;
        font-family: "League Spartan";
        font-size: 24px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;      
        cursor: pointer;   
        .ancor {
            height: 7px;
            width: 15px;
        }
    }
.expand__p {
    display:none;
    &.active {
        display: flex;
    }
}
}
.choose {
    margin:920px auto;
    margin-bottom: 250px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    .choose__img {
        img {
            max-width:580px;
        height:612px;
        }
        
    }
    .choose__ul {
        list-style: none;
        margin-left:0;
    }
    .choose__li {
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        height: 22px;
        width: 503px;
        left: 364px;
        display: flex;
        align-items: center;
        margin-bottom: 58px;
        margin-left:70px;

    }
    .choose__span {
        margin-left:40px;
    }
    .choose__btn {
        color:$white-color;
        width: 112px;
        height: 20px;
        padding:22px 55px;
        @extend %main-btn;
        text-decoration: none;
        font-family: "League Spartan";
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
         margin-left:70px;
    }
}
.choose__inner__h1 {
        height: 156px;
        width: 488px;
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 78px;
        span {
            color:$darkgreen-color;
        }
}
.choose__h1__p {
    margin-left:60px;
}
.choose__inner__p {
    height: 64px;
    width: 563px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color:$black-color;
    margin-bottom: 48px;
}
.customers  {
    margin:70px auto;
    .customers__h1 {
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 78px;
        height: 78px;
        width: 1224px;
        text-align: center;
        margin:auto auto 32px auto;
    }
    .customers__p {
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 177%;
        height: 64px;
        width: 1224px;
      text-align: center;
      margin:auto;

    }
    .customer-span {
        color:$darkgreen-color;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
          place-items: center;
          margin:0 0 120px 70px;
        .card__div {
            background:$lightgreen-color;
            display:flex;
            height: 377px;
            width: 686px;
            border-radius: 20px;
            position: relative;
            margin-top:200px;
            .card__p {
                font-family: 'League Spartan';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 177%;
                color:$black-color;
                height: 128px;
                width: 320px;
                padding:32px;
            }
            .woman-span {
                font-family: 'League Spartan';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 177%;
                height: 32px;
              width: 118px;
                position: absolute;
               bottom:10px;
                left:335px;
            }

        }
        
    }  
}
    
.view-all {
    text-decoration: none;
    color: $white-color;
    padding:22px 75px;
    @extend %main-btn;
    font-family: "League Spartan";
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0em;
   text-align: center;
   width: 221px;
   display: block;
     margin: auto;
};
.frame {
    background: rgba(0, 128, 0, 0.05);
    border-radius: 20px;
    height: 470px;
    width: 100%;
    border-radius: 20px;
   margin:200px auto;
   .app-store {
    padding-top:147px;
    padding-left: 570px;
    margin-right:30px;
    cursor: pointer;
   }
   .play-store {
    cursor: pointer;
   }
   h1 {
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 63px;
        text-align: center;
        height: 126px;
        width: 760px;
         padding:72px;
         margin:auto;
   }
   span {
    color:$darkgreen-color;
   }
}
footer {
    background: $new-color;
    height: 460px;
    width: 100%;
    margin-top:200px;
}
.footer {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(4,1fr);
  place-items: center;
  gap:20px;
    .footer__farm {
        padding-top: 68px;
        padding-left:40px;
        p {
            font-family: 'Spartan';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 177%;
            color:$black-color;
            height: 96px;
            width: 352px;
        }
        img {
            margin-bottom: 24px;
        }
    }
    .footer__second {
        margin-top:50px;
        p {
            font-family: 'League Spartan';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 177%;
            color:$black-color;
            font-size: 18px;
            letter-spacing: 0em;
            text-align: left;
            height: 64px;
            width: 438px;
           padding-left:10px;
           margin-bottom: 24px;
        }
        .input__starter {
            display: flex;
        }
        input {

            width: 433px;
            height: 66px;
            border:none;
            background: rgba(38, 50, 56, 0.1);
            border-radius: 10px;
            outline:none;
            &::placeholder {
                height: 20px;
                width: 158px;
                font-family: Spartan;
                font-size: 18px;
                font-weight: 500;
                line-height: 20px; 
                padding-left:25px;
            }
        }
        a {
            color:$white-color;
            padding:22px 25px;
            @extend %main-btn;
            text-align: center;
            text-decoration: none;
        }
    }
    .follow {
        .follow__span {
            font-family: "league spartan";
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            margin-left:0;
            margin-bottom: 24px;
        }
    }
    .follow__div {
        margin-top:24px;
        display: flex;
        .follow-img {
            margin-right:15px;
        }
    }
    .call {
        .call__span {
            display: block;
            margin-bottom: 24px;
            font-family: 'League Spartan';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
        }
    }
   
}
.footer__nav {
    display: flex;
    justify-content: space-between;
    width:1340px;
     margin:58px auto;
    span {
        margin-left:20px;
    }
   }
hr {
    width: 100%;
    margin-top: 120px;
}